@tailwind base;
@tailwind components;
@tailwind utilities;

.play-board {
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.food {
    background-color: red;
    border-radius: 100%;
}

.head {
    background: #60CBFF;
}